
.memory-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
}

.memory-game-container h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.memory-scoreboard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.memory-timer, .memory-moves, .memory-best-score {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.memory-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 15px;
    justify-content: center;
    margin-top: 10px;
}

.memory-card {
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.memory-card img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.memory-card.memory-flipped {
    transform: rotateY(180deg);
}

.memory-game-over {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.memory-card:hover {
    transform: scale(1.05);
}
  .memory-bestscore-btn{
    padding: 5px 5px;
    height: 50px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;

  }
  .memory-bestscore-btn:hover{
    background-color: #0f2f97;

  }

  .memory-game-over-banner {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, -55%); }
    to { opacity: 1; transform: translate(-50%, -50%); }
  }
  
  .memory-restart-btn {
    display: block;
    margin: 0px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .memory-restart-btn:hover {
    background-color: #0f2f97;
  }
  
